PORT=5000
MONGODB_URI=mongodb+srv://OBD_tech:Kajang_2028.@cluster0.pvisq3i.mongodb.net/starreach?retryWrites=true&w=majority&appName=Cluster0
JWT_SECRET=melissa_building_web_and_mobile_applications_with_secure_authentication_has_always_been_a_challenge_but_with_the_right_tools_and_knowledge_you_can_create_a_secure_and_user-friendly_experience_for_your_users
JWT_EXPIRES=7d
ADMIN_EMAIL=admin@starreach.com
ADMIN_PASSWORD=Melissa_2028!
CLIENT_URL=http://localhost:5000
EMAIL_HOST=
EMAIL_PORT=587
EMAIL_USER=
EMAIL_PASS=
